In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
aq = pd.read_csv("Air_quality.csv")
aq.set_index("datetime", inplace=True)
aq.head(10)

/opt/tljh/user/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,site,stat,bcstat,bcstat_txt,black_carbon,black_carbon_txt,bp,bp_txt,co,co_txt,...,sonicws,sonicws_txt,uvpm,uvpm_txt,rainfall,rainfall_txt,solarrad,solarrad_txt,uv_rad,uv_rad_txt
datetime,,,,,,,,,,,,,,,,,,,,,
2016-01-15T00:00:00,Avalon,Count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-15T00:00:00,Avalon,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-30T00:00:00,Avalon,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-15T00:00:00,Avalon,Min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-15T00:00:00,Avalon,Max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-16T00:00:00,Lawrenceville 2,Count,NaN,NaN,NaN,NaN,NaN,NaN,22.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-15T00:00:00,Avalon,Hr. of Max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-15T00:00:00,Avalon,Avg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-16T00:00:00,Avalon,Count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-16T00:00:00,Avalon,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN